.item {
  display: grid;
  grid-template-columns: 5% repeat(6, 1fr);
  height: 3rem;
  padding: 10px 0;
}
.item button {
  width: fit-content;
  border-radius: 5px;
  background-color: transparent;
  color: red;
  border: 1px dashed red;
}
.item * {
  display: flex;
  align-items: center;
}
