.item {
  display: grid;
  grid-template-columns: 5% repeat(3, 1fr) 10% repeat(2, 1fr);
}

.item button {
  border: 1px dashed red;
  background-color: transparent;
  border-radius: 5px;
}
.item > * {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-wrap: nowrap;
  margin-right: 20px;
}
.item > *:hover {
  overflow: unset;
}
